p {
    font-family: Lato;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  mat-horizontal-stepper{
width:50%;
margin-left: 250px;
  }
  mat-sidenav-content{
    overflow: hidden;
  }
  reviewaction{
    float: right;
  }
  mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
  overflow:hidden;
  }
  mat-drawer-content{
    overflow: hidden;
  }