table {
    width: 100%;
    border: 0px solid black;
    background-color: #E0E0E0;
  }
  mat-table {
    border-spacing: 0px;
  }
  .tablepostion{
    position:right;
    padding-left: 0px;
    border-color: black;
  }
  .mat-header-cell{
    color:black; 
    font-size:13px;
    text-align: center;
  }
  td.mat-cell{
    text-align: center;
  }
  .mat-menu-panel {
    min-width: 90px;
    max-height: 96px;  
 }
mat-form-field{
  width: 400px;
}
.mat-card{
  height:100px;
  text-align: center;
}
.actionButtons{
  margin-right: 344px;
}

button.mat-focus-indicator.mat-button.mat-button-base.mat-primary {
  background-color: #ccc7c7;
}
mat-menu-item{
  width:30%
}
::ng-deep .hided-arrow .mat-sort-header-arrow {
  color: red;
  height: 15px;
}
.mctitle{
  font-weight: 600;
  position: center;
  margin-left: 600px;
}

.searchTable{
float:left;
margin-right:200px;
}


.alert-success{
  width:30%;
  margin-left: 470px;
  position: absolute;
}

.table-container {
  max-height: calc(100vh - 155px);
  overflow: auto;
}
.uploadfile{
  background-color: #3f51b5;
  font-size:12px
}

