<div fxLayout="row" class="step-information">
  <div fxFlex>
    <span class="step-title">
      {{ currentStep?.label }}
    </span>
    <span class="step-index"> {{ currentStepIndex }} of {{ totalSteps }} </span>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="end start">
    <span class="next-step-title" *ngIf="nextStep?.label">
      Next: {{ nextStep?.label }}
    </span>
  </div>
</div>
<mat-horizontal-stepper linear #stepper>
  <mat-step
    #stepInstance="matStep"
    [editable]="step.isEditable"
    [stepControl]="step.form"
    [label]="step.label"
    *ngFor="let step of steps; index as index; first as first; last as last"
  >
    <ng-template matStepLabel>
      <span class="mat-step-status-indicator"> </span>
    </ng-template>
    <div>
      <form [formGroup]="step.form" fxLayout="column">
        <mat-form-field fxFlex *ngFor="let field of step.fields">
          <mat-label>{{ field.label }}</mat-label>
          <input
            type="{{ field.type }}"
            matInput
            placeholder="{{ field.placeholder }}"
            formControlName="{{ field.name }}"
          />
        </mat-form-field>
      </form>
    </div>
    <div fxLayout="row" fxLayoutAlign="start stretch">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <button mat-stroked-button (click)="onCancelClick()">
          Cancel
        </button>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="end center">
        <button
          mat-stroked-button
          (click)="onPreviousClick()"
          *ngIf="!first"
          class="mr-2"
        >
          Previous
        </button>
        <button
          mat-stroked-button
          (click)="onNextClick(stepInstance)"
          *ngIf="!last"
          color="primary"
        >
          Next
        </button>
        <button
          mat-stroked-button
          (click)="onSubmitClick()"
          *ngIf="last"
          color="primary"
        >
          Submit
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
