mat-form-field {
  width: 100%;
}
mat-card-title {
  text-align: center;
}
mat-card-content {
  margin-left: 10%;
  margin-right: 10%;

}
mat-card {
  width: 60%;
  margin-left: 300px;
}

mat-card-actions {
  margin-left: 300px;
}

mat-card.mat-card.mat-focus-indicator {
  background-color: #ebe2e2;
}
