<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>EFS Carrier Control</mat-card-title>
        <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="login(user)" fxLayout="column wrap"
            fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" formControlName="Username" [(ngModel)]="user.Username"
                        required>
                        <mat-error *ngIf="f.Username.invalid">
                            <mat-error *ngIf="f.Username.errors.required">
                              Username is required.
                            </mat-error>
                            
                            <mat-error *ngIf="f.Username.errors.maxlength">
                                Username must be Not more than 20 chars.
                            </mat-error>
                          </mat-error>
                    
                </mat-form-field><br><br>

                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                        [(ngModel)]="user.password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="f.password.invalid">
                        <mat-error *ngIf="f.password.errors.required">
                            password is required.
                        </mat-error>
                        <mat-error *ngIf="f.password.errors.pattern">
                            Password should be Minimum eight characters, at least one uppercase, one number and one special character
                        </mat-error>
                        
                      </mat-error>
                  
                </mat-form-field>
                <br><br>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Login</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>