.mat-focus-indicator.mat-button.mat-button-base:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(4, 49, 117);;
}
.mat-focus-indicator.mat-button.mat-button-base:active {
  text-decoration: none;
  background-color: rgb(4, 49, 117);
}
.mat-toolbar-row{
  background-color: rgb(4, 49, 117);
}
.mat-drawer-container {
  height: 100%;
}
.mat-drawer-content {
  overflow: hidden;
}
.uxg-user-profile {
  float: right;
  width: 90%;
}
.profilebutton {
  color: #ccc;
  float: right;
  margin-left: 1150px;
}

.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:active {
  color: black;
  background-color:rgb(4, 49, 117);
}
.mat-sidenav{
  width: 17%;
}


/* Responsive Styles */

