<div *ngIf="currentRoute !== '/login'">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>OTR EFS</h1>
      <span class="menu-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menuHero" color="primary" class="profilebutton" ng-init>
        <mat-icon>account</mat-icon>Profile
      </button>
      <mat-menu #menuHero="matMenu" class="uxg-user-profile">
        <div class="uxg-menu-header">
          <div class="uxg-avatar-hero-block">
            <div class="uxg-avatar" large>{{loggedInUser}}</div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="uxg-menu-footer">
          <button mat-button color="primary" dense (click)="logOutProfile()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button><br>
        </div>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/dynamictable'"> Money Codes </a>
      <a mat-list-item [routerLink]="'/Cards'"> Cards </a>
      <a mat-list-item [routerLink]="'/transactions'"> Transactions </a>
      <a mat-list-item [routerLink]="'/billing'"> Billing </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>