<h1 mat-dialog-title><strong *ngIf="action != 'DeleteAll'">{{action}} Moneycode</strong></h1>

<form [formGroup]="moneycodeForm" autocomplete="off" novalidate fxLayout="column wrap" fxLayoutAlign="center center"
  fxLayoutGap="10px">
  <div mat-dialog-content *ngIf="action != 'Delete' && !DeleteAll && action != 'DeleteAll'; else elseTemplate">

    <mat-form-field class="example-full-width">
      <mat-label>Issue Money To</mat-label>
      <input matInput placeholder="payee name" required formControlName="Drivername" name="Drivername" fxFlex="50"
        [(ngModel)]="local_data.driverName">
      <mat-error *ngIf="f.Drivername.invalid">
        <mat-error *ngIf="f.Drivername.errors.required">
          Drivername is required.
        </mat-error>
        <mat-error *ngIf="f.Drivername.errors.pattern">
          Invalid Drivername.
        </mat-error>
        <mat-error *ngIf="f.Drivername.errors.maxlength">
          Not more than 60 chars.
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Select Contract</mat-label>
      <mat-select formControlName="contract" [(ngModel)]="local_data.contract" name="contract" required>
        <mat-option *ngFor="let contract of Contracts" [value]="contract.contractname">
          {{contract.contractname}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.contract.invalid">
        <mat-error *ngIf="f.contract.errors.required">
          contract is required.
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Amount" required formControlName="BillingAmount"
        [(ngModel)]="local_data.billingAmount" name="Amount">
      <mat-error *ngIf="f.BillingAmount.invalid">
        <mat-error *ngIf="f.BillingAmount.errors.required">
          BillingAmount is required.
        </mat-error>
        <mat-error *ngIf="f.BillingAmount.errors.pattern">
          Invalid amount
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <div mat-dialog-content *ngIf="action == 'Add' ; else readOnlyTemplate">
        <input matInput placeholder="Driver Id" required formControlName="DriverId" name="DriverId"
          [(ngModel)]="local_data.driverId">
      </div>
      <ng-template #readOnlyTemplate>
        <input matInput placeholder="Driver Id" required formControlName="DriverId" name="DriverId"
          [(ngModel)]="local_data.driverId" readonly>
      </ng-template>
      <mat-error *ngIf="f.DriverId.invalid">
        <mat-error *ngIf="f.DriverId.errors.required">
          DriverId is required.
        </mat-error>
        <mat-error *ngIf="f.DriverId.errors.pattern">
          Invalid DriverId.
        </mat-error>
        <mat-error *ngIf="f.DriverId.errors.maxlength">
          DriverId must Not more than 7 numbers.
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Select Status</mat-label>
      <mat-select formControlName="status" [(ngModel)]="local_data.status" name="status" required>
        <mat-option *ngFor="let stat of Statuses" [value]="stat.status">
          {{stat.status}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.status.invalid">
        <mat-error *ngIf="f.status.errors.required">
          status is required.
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Unit" required  [(ngModel)]="local_data.unit" name="Unit">
      <mat-error *ngIf="f.Unit.invalid">
        <mat-error *ngIf="f.Unit.errors.required">
          Unit is required.
        </mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <ng-template #elseTemplate>
    <div *ngIf="action === 'DeleteAll'">
      Sure to delete Selected Records<b></b>?
    </div>
    <div *ngIf="action !== 'DeleteAll'">
      Sure to delete <b>{{local_data.name}}</b>?
    </div>
  </ng-template>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" class="matbuttons" (click)="doAction(local_data)"
      [disabled]="!moneycodeForm.valid && action != 'Delete' && action != 'DeleteAll'">{{action}}</button>

    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</form>