<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong *ngIf="action != 'DeleteAll'">{{action}} Moneycode</strong></h1>

<form [formGroup]="moneycodeForm" autocomplete="off" novalidate fxLayout="column wrap" fxLayoutAlign="center center"
  fxLayoutGap="10px">
  <div mat-dialog-content *ngIf="action != 'Delete' && !DeleteAll && action != 'DeleteAll'; else elseTemplate">

    <mat-form-field class="example-full-width">
      <mat-label>Issue Money To</mat-label>
      <input matInput placeholder="payee name" required formControlName="Drivername" name="Drivername" fxFlex="50"
        [(ngModel)]="local_data.Drivername">
      <mat-error *ngIf="f.Drivername.invalid">
        <!--   && (f.Drivername.dirty || f.Drivername.touched)"  -->
        <mat-error *ngIf="f.Drivername.errors.required">
          Drivername is required.
        </mat-error>
        <mat-error *ngIf="f.Drivername.errors.pattern">
          Invalid Drivername.
        </mat-error>
        <mat-error *ngIf="f.Drivername.errors.maxlength">
          Not more than 60 chars.
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Select Contract</mat-label>
      <mat-select formControlName="contract" [(ngModel)]="local_data.Contract" name="contract" required>
        <mat-option *ngFor="let contract of Contracts" [value]="contract.contractname">
          {{contract.contractname}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.contract.invalid">
        <mat-error *ngIf="f.contract.errors.required">
          contract is required.
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Amount" required formControlName="BillingAmount"
        [(ngModel)]="local_data.BillingAmount" name="Amount">
      <mat-error *ngIf="f.BillingAmount.invalid">
        <mat-error *ngIf="f.BillingAmount.errors.required">
          BillingAmount is required.
        </mat-error>
        <mat-error *ngIf="f.BillingAmount.errors.pattern">
          Invalid amount
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <div mat-dialog-content *ngIf="action == 'Add' ; else readOnlyTemplate">
        <input matInput placeholder="Driver Id" required formControlName="DriverId" name="DriverId"
          [(ngModel)]="local_data.DriverId">
      </div>
      <ng-template #readOnlyTemplate>
        <input matInput placeholder="Driver Id" required formControlName="DriverId" name="DriverId"
          [(ngModel)]="local_data.DriverId" readonly>
      </ng-template>
      <mat-error *ngIf="f.DriverId.invalid">
        <mat-error *ngIf="f.DriverId.errors.required">
          DriverId is required.
        </mat-error>
        <mat-error *ngIf="f.DriverId.errors.pattern">
          Invalid DriverId.
        </mat-error>
        <mat-error *ngIf="f.DriverId.errors.maxlength">
          DriverId must Not more than 5 numbers.
        </mat-error>
      </mat-error>


    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Unit" required formControlName="Unit" [(ngModel)]="local_data.Unit" name="Unit">
      <mat-error *ngIf="f.Unit.invalid">
        <mat-error *ngIf="f.Unit.errors.required">
          Unit is required.
        </mat-error>

      </mat-error>

    </mat-form-field>

  </div>
  <ng-template #elseTemplate>
    <div *ngIf="action === 'DeleteAll'">
      Sure to delete Selected Records<b></b>?
    </div>
    <div *ngIf="action !== 'DeleteAll'">
      Sure to delete <b>{{local_data.name}}</b>?
    </div>

  </ng-template>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="doAction(local_data)">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</form>