<wex-stepper>
  <ng-template stepperContent [form]="stepperForm" label="Personal Information">
    <form [formGroup]="stepperForm" fxLayout="column">
      <mat-form-field fxFlex>
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="First name"
          formControlName="firstName"
          required
        />
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Last name"
          formControlName="lastName"
          required
        />
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Date Of Birth</mat-label>
        <input
          type="date"
          matInput
          placeholder="Date Of Birth"
          formControlName="dob"
          required
        />
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Age</mat-label>
        <input
          type="number"
          matInput
          placeholder="Age"
          formControlName="age"
          required
        />
      </mat-form-field>
    </form>
  </ng-template>
  <ng-template stepperContent label="Contact Information">
    <form [formGroup]="stepperForm">
      <form [formGroup]="stepperForm" fxLayout="column">
        <mat-form-field fxFlex>
          <mat-label>Phone</mat-label>
          <input
            type="tel"
            matInput
            placeholder="Phone"
            formControlName="phone"
            required
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Email"
            formControlName="email"
            required
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Address Line 1</mat-label>
          <input
            matInput
            placeholder="Address Line 1"
            formControlName="addressLineOne"
            required
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Address Line 2</mat-label>
          <input
            matInput
            placeholder="Address Line 2"
            formControlName="addressLineTwo"
            required
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>State</mat-label>
          <input
            matInput
            placeholder="State"
            formControlName="state"
            required
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Country</mat-label>
          <input
            matInput
            placeholder="Country"
            formControlName="country"
            required
          />
        </mat-form-field>
      </form>
    </form>
  </ng-template>
  <ng-template stepperContent label="Feedback">
    <form [formGroup]="stepperForm">
      <mat-form-field fxFlex>
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." formControlName="comment"></textarea>
      </mat-form-field>
    </form>
  </ng-template>
</wex-stepper>
