<wex-stepper [config]="stepperConfig" (submit)="onSubmit($event)" (next)="onNext($event)" (previous)="onPrevious($event)">
  <ng-template stepperContent [form]="stepperForm" label="Address" [order]="2">
    <form [formGroup]="stepperForm" fxLayout="column">
      <mat-form-field fxFlex>
        <mat-label>Address Line 1</mat-label>
        <input
          matInput
          formControlName="addressLine1"
          placeholder="Address Line 1"
        />
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Address Line 2</mat-label>
        <input
          matInput
          formControlName="addressLine2"
          placeholder="Address Line 2"
        />
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>State</mat-label>
        <input
          matInput
          formControlName="state"
          placeholder="State"
        />
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Country</mat-label>
        <input
          matInput
          formControlName="country"
          placeholder="Country"
        />
      </mat-form-field>      
    </form>
  </ng-template>
</wex-stepper>
