<mat-card class="m-3">
  <div fxLayout="row" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxFlex="calc(100% - 100px)" class="pr-3">
      <mat-form-field fxFlex>
        <mat-label>Search</mat-label>
        <input type="text" matInput placeholder="Search" />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxFlex="100px">
      <button mat-stroked-button fxFlexAlign="center">
        Search
        <mat-icon matSuffix>search</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
